.root {
    max-width: 100%;
    height: 100vh;
    background: url(./img/background.jpg) no-repeat center;
    background-size: cover;
    /* background-attachment: fixed; */
}
.header {
    /* position: absolute; */
    width: 100%;
    background: green;
}
.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px; 
 }
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
   }
.narration{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}
.animal {
    width: 400px;
    height: 400px;
    background-color: blue;
}